@media (min-width: 576px) {
    .modal-hmm {
        max-width: 5000px !important;
        margin: 1.75rem auto;
    }
}

.modal-hmm {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}